*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    background-color:rgb(34, 43, 40);
}
header {
    color: rgb(247, 162, 113);
    position: absolute;
    left: 15%;
}
footer{
    position: absolute;
    bottom:2%;
    left: 11%;
}
.generator{
    float:right;
    margin-top:7%;
    margin-right:2%;
}
.generator label{
    display: block;
    font-weight: bold;
    padding: 5%;
    color:goldenrod
}
nav{
    background-color:rgb(161, 82, 155);
    width: 10%;
    height: 100%;
    float: left;
}
li {
    background-color: goldenrod;
    list-style-type: none;
    text-align:center;
    margin-top: 10%;
    border:5px solid rgb(161, 82, 155);
}

nav>div{
    margin-top: 50%;
}

canvas{
    float:left;
    width: 20%;
    margin-top:7%;
    margin-left: 30%;
}
#imageFileInput{
    color: goldenrod;
    margin-top: 5%;
}